{% extends 'home/base.html' %}
{% load jalali_tags %}
{% load i18n %}

{% block title %}
{% translate "portfolio" %}
{% endblock title %}

{% block content %}
    {% for portfolio in portfolios %}
        {% if portfolio.is_active%}
            <h2>
                <a href="{{ portfolio.get_absolute_url }}">{{ portfolio.title }}</a>
            </h2>
            {% if LANGUAGE_CODE == 'fa' %}
                {{ portfolio.updated |to_jalali }} <br>
            {% else %}
                {{ portfolio.updated }} <br>
            {% endif %}
            {% autoescape off %}
            {{ portfolio.description }}
            {% endautoescape %}
            <hr>
            {% if portfolio.images.all %}
                {% for img in portfolio.images.all %}
                    <img src="{{ img.image.url }}" alt="{{ img.name }}" width="500px">
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock content %}