{% extends 'blog/base.html' %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}
    {% if post %}
        <h2>
            {{ post.title }}
        </h2>
        {% autoescape off %}
        {{ post.content }}
        {% endautoescape %}
        <hr>
        {% if post.images.all %}
            {% for img in post.images.all %}
                <img src="{{ img.image.url }}" alt="{{ img.name }}" width="500px">
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock content %}