{% extends 'home/base.html' %}
{% load jalali_tags %}
{% load i18n %}

{% block title %}
{% translate "landings" %}
{% endblock title %}

{% block content %}
    {% for landing in landings %}
        <h2>
            <a href="{{ landing.get_absolute_url }}">{{ landing.title }}</a>
        </h2>
        {% if LANGUAGE_CODE == 'fa' %}
            {{ landing.updated |to_jalali }} <br>
        {% else %}
            {{ landing.updated }} <br>
        {% endif %}
        {% autoescape off %}
        {{ landing.content }}
        {% endautoescape %}
        <hr>
        {% if landing.images.all %}
            {% for img in landing.images.all %}
                <img src="{{ img.image.url }}" alt="{{ img.name }}" width="500px">
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock content %}